{% set collection = page.collection({
      'items': {
        '@taxonomy': {
					'category': 'OPEN CLOSED Festival',
        },
      },
			'dateRange': {
					'start': datetools.startOfYear
      },
      'order': {
        'by': 'date',
        'dir': 'asc'
      },
}) %}

{% block body %}
	{{ page.content|raw }}
	{% embed 'partials/layout.html.twig' with { page: blog} %}

		{% block item %}

			<div>
				{% if collection|length != 0 %}
					{% for event in collection %}
						{% include 'partials/open-closed-event-list-item.html.twig' with {page: event} %}


					{% endfor %}
				{% endif %}
			</div>
		{% endblock %}
	{% endembed %}
{% endblock %}
