{% if page.taxonomy.category and config.plugins.events.event_sidebar.enable_categories %}
	{% for category in page.taxonomy.category %}
		<a href="{{ event.url|rtrim('/') }}/../category{{ config.system.param_sep }}{{ category }}">
			<span class="chip">
				{{ category }}
			</span>
		</a>
	{% endfor %}
{% endif %}
