// Sticky Footer solution
body.sticky-footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  #page-wrapper {
    flex: 1 0 auto;
  }
}

#footer {
	color: #fff;
	padding: 1rem $horiz-padding 2.5rem;
	h1,
	h2,
	h3,
	h4,
	h5 {
		color: #fff;
	}
	th {
		padding-top: 0;
	}
	.social {
		margin: 2em 0;
		
		a {
			text-decoration: none !important
		}

		a > img,
		a > svg,
	       	a > span {
			display: inline-block;
			margin: 0 0.2rem;
			padding: 0;
			color: #f0f0f0;
			width: 2.2rem !important;
			height: 2.2rem !important;
			text-align: center;
			vertical-align: middle;

			&:first {
				margin-right: 0px;
			}
			&:hover {
				color: #fff;
			}
		}
		a > span {
			padding-top: 0.2rem;
		}
		a > svg {
			fill: currentColor;
			overflow: hidden;
			vertical-align: middle;
			padding: 0.1rem;
		}
	}
	.language-selector {
		float: unset;
		top: unset;
		margin: 0px !important;

		.btn {
			@include button-primary;
			background: unset;
			border-color:#fff;

			&:hover {
				background: $primary-color;
			}
		}
	}

	#langSelectorList {
		top: auto;
		bottom: 120%;
	}

	#newsletter-form {

		.form-field > .form-data {
			margin-top: 0.5rem
		}
		.buttons {
			margin-top: 0.5rem
		}
		.buttons > .button {
			@include button-primary;
			font-size: 0.8rem;
			line-height: 1.5;
			border-radius: 3px;
			padding: 5px 10px;
			background: unset;
			color: #fff;
			border: 1px solid;
			border-color: #fff;

			&:hover {
				background: $primary-color;
			}
		}
	}
}
.footer-menu {
	background-color: $primary-color;
	color: $light-color;

	.btn.btn-link,
	a {
		color: $gray-color;

		&:hover, &:focus, &.active {
			color: $light-color !important;
		}
	}
}
