// Spectre Overrides
$primary-color: #770702 !default;
$secondary-color: #428e92 !default;
$secondary-color-dark: darken($secondary-color, 5%) !default;
$dark-color: #000 !default;
$light-color: #fff !default;
$gray-color: #ddd !default;
$gray-color-dark: #ddd !default;
$border-color: #ddd !default;
$bg-color: #fff !default;
$body-font-color: #000 !default;

// Layout
$horiz-padding: 1rem;
$vert-padding: 2rem 0 2rem;

// Fonts
$base-font-family: Overpass;
$min-responsive-font-size: 16px;

// Header
$header-height-large: 4rem;
$header-height-small: 2.3rem;
$header-color-dark: #222;
$header-text-light: $light-color;
$header-text-dark: $dark-color;

// Dropdown Menu
$dropmenu-bg: $light-color;
$dropmenu-hover-text: $primary-color;
$dropmenu-horiz-padding: 20px;
$dropmenu-vert-padding: 29px;
$dropmenu-child-padding: 10px;
$dropmenu-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

// Mobile Menu
$mobile-color-main: $light-color;
$mobile-color-active: #fff;
$mobile-color-link: #fff;
$mobile-button-height: 24px;
$mobile-button-width: 28px;