{% extends 'partials/base.html.twig' %}

{% block content %}
	{% if page.title != 'OPEN CLOSED Festival' %}
		<h1 class="text-primary">{{ page.title }}</h1>

	{% endif %}

	{{ page.content|raw }}

	{% for module in page.collection() %}
		{{ module.content|raw }}
	{% endfor %}
{% endblock %}
